body{
    background:rgb(235, 102, 142) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first{
    color: rgb(3, 2, 12) ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    position: fixed;
    right: 80%;
    top: -10%;
}

.loginform{
    color: white ;
    text-align: center;
    font-size: 8pt;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.log{
    background-color: rgb(5, 5, 15);
    color: white;
    font-size: 6pt;
}
.second{
    position: absolute;
    right: 50%;
    top: 20%;
    line-height: 30pt;
}
.line{
    font-weight: bold;
    font-size: 20pt;
}
.sign{
    background-color: rgb(2, 10, 6);
    color: white;
}
.third{
    position: absolute;
    right: 5%;
    top: 40%;
    font-style: oblique;
    font-family: monospace;
}
.cart{
    background-color: rgb(2, 10, 6);
    color: white;
    
}
.casjean{
    position: absolute;
    right: 65%;
    top: 70%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.suits{
    position: absolute;
    right: 85%;
    top: 70%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.hood{
    position: absolute;
    right: 50%;
    top: 60%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.ladiescasual{
    position: absolute;
    right: 30%;
    top: 60%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.ladiesformal{
    position: absolute;
    right: 10%;
    top: 60%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.msneaker{
    position: absolute;
    right: 85%;
    top: 120%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.mshoe{
    position: absolute;
    right: 60%;
    top: 120%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.lsneaker{
    position: absolute;
    right: 40%;
    top: 120%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.lshoe{
    position: absolute;
    right: 20%;
    top: 120%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.shop{
    position: absolute;
    right: 5%;
    top: 15%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
    font-size: 14pt;
}
.fot{
    color: rgb(243, 247, 246) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    position: fixed;
    right: 80%;
    top: 12%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
}
.last{
    background-color: rgb(2, 10, 6);
    color: rgb(243, 247, 246) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    position: fixed;
    right: 5%;
    top: 95%;
    font-style: oblique;
    font-family: monospace;
    font-weight: bolder;
}